@import './variables.scss';

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-control-label {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  border: 1px solid #ddd;
  transition: all 0.2s;

  //   background-color: #eee;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .custom-control-label {
  //   background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .custom-control-label {
  background-color: $main-color;
}

/* Create the custom-control-label/indicator (hidden when not checked) */
.custom-control-label:after {
  content: '';
  position: absolute;
  display: none;
  transition: all 0.1s;
}

/* Show the custom-control-label when checked */
.custom-checkbox input:checked ~ .custom-control-label:after {
  display: block;
  transform: rotate(45deg);
}

/* Style the custom-control-label/indicator */
.custom-checkbox .custom-control-label:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.custom-checkbox .custom-control-label-b:after {
  left: 5px;
  top: 7px;
  width: 9px;
  height: 2px;
  transform: none !important;
  //   border: solid white;
  //   border-width: 1px 1px 1px 1px;
  //   transform: rotate(45deg);
  //   -webkit-transform: rotate(45deg);
  //   -ms-transform: rotate(45deg);
}
