@import './mixin.scss';
$main-color: #08a0e0;
$color-input: #73b3e9;
$color-checkbox: #009c28;

@for $i from 10 through 30 {
  .fz-#{$i} {
    font-size: #{$i}px !important ;
  }
}
@for $i from 50 through 300 {
  .max-width-#{$i} {
    max-width: #{$i}px !important ;
  }
}
